*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background-color: #000;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #555; 
}
header{
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 56px;
    background-color: #000;
}
header .first-header{
    margin-left: 30px;
}
header .first-header i{
    margin-right: 10px;
    font-size: 1.9em;
    padding: 5px;
}
header .first-header i:hover{
    border-radius: 100%;
    padding: 5px;
    background-color: #3d3d3d;
}
.main-header{
    margin-top: 10px;
}
header .main-header i{
    font-size: 1.9em;
    margin-right: 10px;
}
header .main-header input{
    font-size: 1.05em;
    height: 40px;
    width: 440px;
    position: relative;
    bottom: 10px;
    border: 2px #222222 solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000;
    padding: 0px 10px;
    color:rgb(219, 219, 219);
}
header .main-header input:focus{
    border: rgb(48, 131, 255) 1px solid;
    outline: none;
}
header i{
    cursor: pointer;
    color: white;
}
#mic{
    background-color: #303030;
    border-radius: 100%;
    padding: 5px;
}
#mic:hover{
    background-color: #3d3d3d;
}
#search{
    background-color: #303030;
    padding: 3px 20px;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: #222222 2px solid;
    position: relative;
    left: 8px;
}
.last-header i{
    position: relative;
    bottom: 13px;
    font-size: 1.9em;
    padding: 5px;
}
.last-header i:hover{
    border-radius: 100%;
    padding: 5px;
    background-color: #3d3d3d;
}
.last-header{
    margin-right: 30px;
}
.menu-labbry{
    width: 80px;
    height: calc(100vh - 56px);
    background-color: #000;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 0;
    color: #fff;
    overflow: hidden;
    flex-wrap: nowrap;
}
.home{
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
}
.home:hover{
    background-color: #3d3d3d;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
}
.home a{
    text-decoration: none;
    color: #fff;
}
.menu-labbry i{
    margin-left: 7px;
    font-size: 1.9em;
}
.menu-labbry h1{
    font-size:  0.6em;
}
.shorts{
    position: absolute;
    top: 90px;
}
.shorts:hover{
    background-color: #3d3d3d;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
}
.shorts img{
    width: 30px;
    height: 30px;
}
.shorts a{
    text-decoration: none;
    color: #fff;
}
.subscribe{
    position: absolute;
    top: 160px;
    cursor: pointer;
    align-items: center;
    left: 15px;
}
.subscribe i{
    margin-left: 10px;
}
.subscribe:hover{
    background-color: #3d3d3d;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
}
.subscribe a{
    text-decoration: none;
    color: white;
}
.library{
    cursor: pointer;
    position: absolute;
    top: 230px;
}
.library:hover{
    background-color: #3d3d3d;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
}
.library a{
    text-decoration: none;
    color: #fff;
}
.library i{
    margin-left: 1px;
}
.videos{
    padding: 80px 0px ;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.videos-2{
    padding: 80px 0px ;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 130px;
}
.video-container{
    position: relative;
    width: 380px;
    height: 370px;
    margin-left: 15px;
    color: #fff;
    display: flex;
    cursor: pointer;
}
.video-container img{
    cursor: pointer;
    width: 100%;
    height: 250px;
    border-radius: 24px;
    transition: 0.3s;
}
.video-container img:hover{
    border-radius: 0px;
}
.description-container{
    position: absolute;
    display: flex;
    bottom: 35px;
}
.description-container:first-child{
    bottom: 10px;
}
.watchs{
    left: 70px;
    position: absolute;
    bottom: 30px;
    color: #777676;
}
.watchs h2{
    font-size: 13px;
    margin-bottom: 5px;
}
.description-container h1{
    font-size: 16px;
    position: relative;
    left: 20px;
    color: white;
    text-decoration: none;
    bottom: 10px;
}
.description-container img{
    bottom: 20px;
    position: relative;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.description-container img:hover{
    border-radius: 100%;
}
.shorts-hr{
    margin: auto;
    width: 100%;
    border: 2px solid #353535;
}
.logo-shorts img{
    height: 25px;
    width: 25px;
    margin-top: 7px;
}
.shorts-place{
    display: flex;
    position: relative;
}
.X-shorts{
    margin: 30px;
    color:white;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-weight: 100;
}
.X-shorts:hover{
    background-color: #3d3d3d;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
}
.logo-shorts{
    position: absolute;
    display: flex;
    left: 1050px;
    top: 40px;
}
.logo-shorts h1{
    font-size: 30px;
    margin-right: 10px;
    font-weight: 400;
    color: white;
}
.video-container-shorts a{
    text-decoration: none;
}
.video-container-shorts{
    width: 200px;
    height: 400px;
    margin-left: 30px;
}
.video-container-shorts img{
    width: 100%;
    border-radius: 14px;
    height: 400px;
}
.video-container-shorts h1{
    color: white;
    font-size: 18px;
}
.video-container-shorts h2{
    font-size: 16px;
    color: #555;
}
.show-more{
    font-size: 20px;
    color: #fff;
    margin-top: 100px;
    padding: 20px 600px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    right: 1px;
    top: 400px;
}
.hidden{
    display: none;
}
.show-more:hover{
    background-color: #353535;
}
.shorts-hr-end{
    margin: auto;
    width: 100%;
    border: 2px solid #353535;
    position: absolute;
    top: 600px;
}
.videos-shorts{
    display: flex;
    position: relative;
    top: 100px;
    right: 70px;
}